$base-font-size: 12;
$base-font-family: 'Inter';

$black-10: #fafffa;
$black-40: #515751;
$black-50: #001605;
$black: #000;
$white: #fff;
$red: #e44c4c;
$green: #26b04d;
$primary-90: #0d1306;
